body {
    color: blue;
}

.background {
    background-color: indigo;
    background-image: url("../images/pawel-durczok-257319-unsplash.jpg");
    background-size: cover;
}

#new-game-button {
    outline: none;
    border: none;
    cursor: pointer;
    display: block;
    background-color: #92c6ea;
    position: relative;
    font-size: 22px;
    font-weight: bold;
    color: #5f5f5e;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 25 px;
    border-radius: 20px;
    box-shadow: 0 6px #5f5f5e;
}

#new-game-button:hover {
    box-shadow: 0 4px #5f5f5e;
    top: 2px;
}

#new-game-button:active {
    box-shadow: 0 0 #5f5f5e;
    top: 6px;
}

#placeholder-section {
    background-color: #0483fb;
}

#placeholders {
    letter-spacing: 6px;
    font-size: 40px;
}
 .indigoBackground {
     background: indigo;
     color: #0DADCF;
 }

p {
    font-size: 40px;
    width: 480px;
}
span.blue {
    font-family: "Press Start 2P", cursive;
    color:#0DADCF;
}

span.yellow {
    font-family: "Press Start 2P", cursive;
    color:#F2D316;
}

span.red {
    font-family: "Press Start 2P", cursive;
    color:#EC3935;
}

span.green {
    font-family: "Press Start 2P", cursive;
    color:#58B944;
}